@model RegexDesigner.App.Models.IndexViewModel
@{
    ViewBag.Title = "Regex Designer by F#";
}

@using (Html.BeginForm())
{
    
    <h2>pattern</h2>
    <div>
        @Html.TextBoxFor(m => m.Pattern, new {autofocus=true, @class="input-xxlarge" })
        @Html.ValidationMessageFor(m => m.Pattern)
    </div>

    <h2>input</h2>
    <div>
        @Html.TextAreaFor(m => m.Input, new {@class="input-xxlarge", rows=10 })
        @Html.ValidationMessageFor(m => m.Input)
    </div>
    
    <div>
        <input type="submit" name="cmd" value="match" class="btn btn-primary btn-large" />
    </div>

    <h2>result</h2>

    <div class="result well">
    @foreach (var fragment in Model.Fragments)
    {
<span class="@fragment.MatchType">@Html.Raw(HttpUtility.HtmlEncode(fragment.Content).Replace(" ", "&nbsp;").Replace("\n", "<br/>"))</span>}
    </div>

}
