@model RegexDesigner.App.Models.IndexViewModel
@{
    ViewBag.Title = "Regex Designer by F#";
}

@using (Html.BeginForm())
{
    
    <h2>pattern</h2>
    <div>
        @Html.TextBoxFor(m => m.Pattern, new {autofocus=true })
        @Html.ValidationMessageFor(m => m.Pattern)
    </div>

    <h2>input</h2>
    <div>
        @Html.TextBoxFor(m => m.Input)
        @Html.ValidationMessageFor(m => m.Input)
    </div>
    
    <div>
        <input type="submit" name="cmd" value="match" class="btn btn-primary btn-large" />
    </div>

    <h2>result</h2>

    <div>
    @foreach (var fragment in Model.Fragments)
    {
        <span class="@fragment.MatchType">@fragment.Content</span>
    }
    </div>

}
